
*.properties
*.xml
XMLTest.xml
*.bak
*.log
*.conf
RUNNING_PID
*.xml.backup*
*.jks
*.zip

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Project exclude paths
/out/