*.properties
*.xml
XMLTest.xml
*.bak
*.log
*.conf
RUNNING_PID
*.xml.backup*
*.jks
*.zip
*.mp3
*.wav
*.mp4


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Project exclude paths
/out/
vosk-model-en-us-0.22-lgraph/*
vosk-model-small-en-us-0.15/*
/logs/